.summary-screen-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (orientation: landscape) {
        padding-left: 30px;
    }
}

.spacer {
    padding: 10px;
}
