.bannerContainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .first {
        padding-right: 20px;
        flex: 0 1 auto;
    }

    .middle {
        flex: 1;
    }

    .last {
        padding-left: 20px;
        flex: 0 1 auto;
    }
}

.titleValueStacked {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .title {
        font-size: 50%;
    }

    :hover {
        cursor: pointer;
    }
}

.rangeContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-range {
        height: 5px;
        --bar-height: 5px;
        --knob-size: 0px;
        --knob-background: transparent;
    }
}

.dateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .spacer {
        padding: 10px;
    }

    .title {
        text-align: center;
        font-size: 50%;
    }

    ion-icon:hover {
        cursor: pointer;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .small-spacer {
        padding: 5px;
    }
}

.small-spacer {
    padding: 2px;
}

.flow-value {
    font-size: 75%;
    white-space: nowrap;
}
