.bannerContainer {
    width: 100%;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.titleValueStacked {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        font-size: 50%;
    }
}

.rangeContainer {
    width: 80%;
}

.toggleContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .spacer {
        padding: 4px;
    }

    .title {
        text-align: center;
        font-size: 50%;
    }
}
