.bannerContainer {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .first {
        padding-right: 20px;
        flex: 0 1 auto;
    }

    .middle {
        flex: 1;
    }

    .last {
        padding-left: 20px;
        flex: 0 1 auto;
    }
}

.titleValueStacked {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .title {
        font-size: 50%;
    }
}

.rangeContainer {
    width: 100%;
}

.dateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .spacer {
        padding: 4px;
    }

    .title {
        text-align: center;
        font-size: 50%;
    }

    ion-icon:hover {
        cursor: pointer;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
