name: Fetch, Build, and Deploy

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  updateDataBuildAndDeploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '21'

      - name: Checkout to production branch
        run: |
          git fetch
          git checkout production
      
      - name: Fetch data from TransAlta API and Weather API
        run: |
          curl 'https://azf-eai-denodo-proxies.azurewebsites.net/api/riverflow' > ./src/flowData.json
          curl 'https://api.open-meteo.com/v1/forecast?latitude=51.051798892149094&longitude=-115.0190595210664&hourly=temperature_2m&daily=sunrise,sunset&timezone=America%2FDenver' > ./src/weatherData.json
          curl 'http://worldtimeapi.org/api/timezone/America/Edmonton' > ./src/timeData.json
          curl -X POST 'https://rivers.alberta.ca/DataService/WaterlevelRecords --data stationNumber=05BF024&stationType=L&dataType=HG' > ./src/historicalFlowData.json
      
      - name: Commit and push if there are changes
        run: |
          git config --global user.email "alex.dalgleishmorel@gmail.com"
          git config --global user.name "alexdalgleishmorel"
          git add ./src/flowData.json ./src/weatherData.json ./src/timeData.json ./src/historicalFlowData.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update data" && git push)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Install Dependencies
        run: npm install
      
      - name: Build and Deploy
        run: |
          git config --global user.email "alex.dalgleishmorel@gmail.com"
          git config --global user.name "alexdalgleishmorel"
          git remote set-url origin https://alexdalgleishmorel:${{ secrets.GITHUB_TOKEN }}@github.com/alexdalgleishmorel/flow-report.git
          npm run deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
